@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Merriweather:400,700,900');
/* Color Scheme
  dark: #4f2d7f
  light: #9d5bff
  mid-light: #7e49cc
  x-light: cba8ff
  bluish: 34007f
*/
:root {
	--fira-family: 'Fira Sans', sans-serif;
	--Merriweather-family: 'Merriweather', serif;
	--dark: #4f2d7f;
	--darker: #201136;
	--light: #9d5bff;
	--rusty-red: #d4cf3c;
	--x-light: #d2b5ff;
	--june-bud: #c5d86d;
	--font-color: #252525;
}

/* Global styling */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: var(--dark);
}

body {
	font-family: var(--Merriweather-family);
	overflow-y: auto;
	background-color: rgba(240, 234, 241, 0.986);
	color: var(--font-color);
}

html,
body {
	width: 100%;
	height: 100%;
}

#body-bg {
	background: url('../img/erol-ahmed-632016-unsplash.jpg') no-repeat center
		center / cover;
	height: 100vh;
	position: relative;
	z-index: 0;
}

#body-bg::before {
	position: absolute;
	content: '';
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--dark);
	opacity: 0.85;
	z-index: -1;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

h1 {
	color: var(--x-light);
}

/* input {
	padding: 0.3rem;
} */

.container {
	width: 90%;
	margin: 0 auto;
}

.pad-pt5 {
	padding: 0.5rem;
}

.pad-pt3 {
	padding: 0.3rem;
}

.marg-tb-pt6 {
	/* marg-tb = margin top and bottom */
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
}

/* Home heero area */

.main-style,
.dashboard-main-style {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.header,
.content,
.form,
.footer {
	flex-shrink: 0;
}

.header {
	display: flex;
	order: 1;
	justify-content: space-between;
	justify-items: center;
	line-height: 1.5em;
	height: 40px;
}

.header .brand {
	justify-items: flex-start;
	font-family: var(--fira-family);
	padding: 10px 0;
}

.header .brand h1 a {
	font-size: 2rem;
	color: var(--june-bud);
}

.header nav {
	display: flex;
	justify-items: flex-end;
	align-items: center;
}

.header nav li a {
	font-family: var(--fira-family);
	margin-left: 20px;
	padding: 3px;
	color: var(--x-light);
	transition: all 0.5s ease-in-out;
}

.header nav li:last-child a:hover {
	border-bottom: 2px solid var(--june-bud);
}

/* Dropdown login */

li.login-dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-logins {
	display: none;
	position: absolute;
	background-color: var(--x-light);
	min-width: 9rem;
	-webkit-box-shadow: 5px 5px 10px 5px rgba(79, 45, 127, 1);
	-moz-box-shadow: 5px 5px 10px 5px rgba(79, 45, 127, 1);
	box-shadow: 5px 5px 10px 5px rgba(79, 45, 127, 1);
	z-index: 1;
	transition: all 500ms ease-in-out;
}

li.login-dropdown .dropdown-logins a {
	color: var(--dark);
	padding: 0.8rem 1rem 0.8rem 0.1rem;
	text-decoration: none;
	display: block;
	transition: all 500ms ease-in-out;
}

.dropdown-logins a:hover {
	background-color: var(--x-light);
}

li.login-dropdown:hover .dropdown-logins {
	display: block;
}

li.login-dropdown:hover .dropdown-link {
	background-color: var(--light);
}

.dashboard-header {
	background-color: var(--dark);
	padding-bottom: 5px;
}

.brand-heading {
	margin: 2% auto 0 auto;
	font-size: 4rem;
	color: var(--june-bud);
}

.brand-heading a {
	color: var(--june-bud);
}

h3.sub-brand-heading {
	margin: 0 auto;
	font-size: 1.2rem;
	color: var(--x-light);
}

/* Content area  */
.content {
	display: flex;
	order: 2;
	flex-grow: 1;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.content .content_home {
	display: flex;
	flex-direction: column;
}

.content h1 {
	font-size: 2.5em;
	margin-bottom: 20px;
}

.content .left-dashboard {
	flex: 1.5;
	background-color: var(--darker);
	order: 1;
}

.content .right-dashboard {
	flex: 8.5;
	background-color: var(--x-light);
	padding: 20px;
	order: 2;
}

.content .left-dashboard,
.content .right-dashboard {
	height: calc(100vh - 6.3125rem);
	overflow: auto;
}

button.get-started {
	border: none;
	padding: 10px 40px;
	border-radius: 6px;
	background-color: var(--rusty-red);
}

button.get-started a {
	font: var(--fira-family);
	font-size: 1.3rem;
	color: var(--darker);
	font-weight: 500;
}

/* Form styling */
.form-area {
	display: flex;
	order: 2;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-color: var(--x-light); */
}

form {
	margin-top: 20px;
	background-color: var(--x-light);
	padding: 3rem;
	border-radius: 5px;
	min-width: 250px;
	min-height: auto;
	-webkit-box-shadow: 1px 1px 3px 2px rgba(79, 45, 127, 1);
	-moz-box-shadow: 1px 1px 3px 2px rgba(79, 45, 127, 1);
	box-shadow: 1px 1px 3px 2px rgba(79, 45, 127, 1);
}

input {
	border-radius: 3px;
	padding: 0.3rem 0.5rem;
	border: none;
	margin-left: 10px;
	line-height: 1.3rem;
	border-bottom: 2px solid var(--dark);
}

.flex-wrap {
	width: 100%;
	margin-bottom: 0.7rem;
	display: flex;
}

.flex-wrap input {
	width: 100%;
	flex-grow: 1;
}

.flex-wrap label {
	width: 110px;
	margin-right: 5px;
	text-align: right;
}

.full-name {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.forgot-password > p {
	text-align: right;
	font-size: 0.7rem;
	margin: 0 0.625rem 0.625rem 0;
}

.forgot-password p a {
	color: var(--darker);
}

.already-done > p {
	margin: 0.625rem auto;
	font-size: 0.7rem;
	opacity: 0.7;
}

.already-done > p,
.already-done p a {
	color: var(--light);
}

.form-submit {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.form-submit input[type='submit'] {
	padding: 0.7rem 0.9rem;
	font-size: 1rem;
	background-color: var(--dark);
	color: var(--x-light);
	flex-grow: 0.6;
	margin-right: 0.412rem;
	border-radius: 0.3125rem;
	transition: all 500ms ease-in-out;
}

.form-submit input[type='submit']:hover {
	background-color: var(--rusty-red);
	color: var(--dark);
	transform: scale(1.01);
	cursor: pointer;
}

/* Dashboard styling */
.dashb-contents {
	display: grid;
	grid-template-columns: 2fr 4fr;
	grid-column-gap: 0.625rem;
	border: 1px solid rgba(79, 45, 127, 0.4);
	background-color: rgba(210, 181, 255, 0.6);
	padding: 0.312rem;
	height: 100%;
	margin-bottom: 1.2rem;
}

.dashb-contents .dashb-profile,
.dashb-contents .dashb-acc-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid rgba(79, 45, 127, 0.4);
}

.dashb-contents .dashb-acc-details {
	padding: 1rem 0;
}

.dashb-contents .dashb-profile img {
	width: 50%;
	border-radius: 50%;
	border: 2px solid var(--dark);
	box-shadow: 0 0 3px 1px rgba(79, 45, 127, 0.7);
}

/* profile column */
.profile-identity {
	display: flex;
	align-items: center;
	background-color: var(--light);
}
.profile-identity img {
	width: 40%;
	border-radius: 50%;
	margin-left: 0.625rem;
	border: 2px solid var(--dark);
	box-shadow: 0 0 3px 1px rgba(79, 45, 127, 0.7);
}

.profile-identity h4 {
	font-size: 0.8rem;
	margin-left: 0.8rem;
}

@media (max-width: 48em) {
	.profile-identity h4 {
		display: none;
	}

	.profile-identity img {
		margin: 0.625rem auto;
		width: 50%;
	}
}

.profile-links li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 1rem 2rem;
}

.profile-links li a.active {
	background-color: var(--june-bud);
}

.right-dashboard .tab-content {
	content: '';
}

.profile-links li a {
	margin: 1rem 0;
	text-decoration: none;
	color: var(--light);
	font-size: 0.9rem;
	transition: all 250ms ease-in;
}

.profile-links li a:hover {
	color: var(--june-bud);
}

.profile-links li a i {
	font-size: 1rem;
	margin-right: 0.31rem;
}

.profile-links li span {
	margin-left: 0.3rem;
}

@media (max-width: 48em) {
	.profile-links li {
		justify-content: center;
		align-items: center;
	}

	.profile-links li a i {
		font-size: 1.2rem;
	}

	.profile-links li span {
		display: none;
	}
}

@media (min-width: 48em) and (max-width: 72em) {
	.profile-links li {
		justify-content: center;
		align-items: center;
	}

	.profile-links li span {
		display: inline-block;
		text-align: center;
	}

	.profile-links li span:nth-child(3) {
		font-size: 0.7rem;
	}

	.profile-links li span {
		margin-left: 0;
	}

	.profile-links li a i {
		font-size: 1.2rem;
		padding-bottom: 0.625rem;
		display: block;
	}

	.profile-links li a {
		font-size: 0.85rem;
	}
}

/* Former user details */
.user-details,
.transac-history {
	width: 95%;
	padding: 0.625rem 0.312rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.user-details table,
.transac-history table {
	border-collapse: collapse;
	border: 1px solid var(--dark);
	box-shadow: 0 0 3px 1px rgba(79, 45, 127, 0.7);
	width: 100%;
}

.user-details tr:nth-of-type(odd),
.transac-history tr:nth-of-type(odd) {
	background: var(--light);
}

.user-details th,
.transac-history th {
	background: var(--rusty-red);
	color: #fff;
	font-weight: bold;
}

.user-details td,
.user-details th,
.transac-history td,
.transac-history th {
	padding: 0.32rem;
	border: 1px solid #ccc;
	text-align: left;
}

.transac-history .head-btn {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 1em;
}

.transac-history .head-btn button.create-acct {
	border: 0;
	border-radius: 5px;
	background-color: var(--light);
	padding: 0.1rem 1rem;
	cursor: pointer;
	font-size: 1rem;
	color: var(--x-light);
	transition: all 250ms ease-in-out;
}

.transac-history .head-btn button.create-acct:hover {
	background-color: var(--dark);
}

/* Admin dashboard styling */
button.create-staff-admin-acct {
	border: 0;
	padding: 1.2rem;
	background-color: var(--dark);
	border-radius: 0.312rem;
	color: var(--x-light);
	font-size: 1rem;
	cursor: pointer;
	transition: all 500ms ease-in-out;
}

button.create-staff-admin-acct:hover {
	background-color: var(--rusty-red);
}

.a-dashb-card {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 95%;
}

.a-dashb-card > .acc-card:first-child {
	margin-right: 0.625rem;
}

/* Transaction History */
.table-container {
	margin: 5% 3%;
}
@media (min-width: 48em) {
	.table-container {
		margin: 2%;
	}
}
@media (min-width: 75em) {
	.table-container {
		margin: 2em auto;
		max-width: 75em;
	}
}

.general-table {
	width: 100%;
	margin-bottom: 1.5em;
	border-spacing: 0;
}

@media (min-width: 48em) {
	.general-table {
		font-size: 0.9em;
	}
}
@media (min-width: 62em) {
	.general-table {
		font-size: 1em;
	}
}

.general-table thead {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
@media (min-width: 48em) {
	.general-table thead {
		position: relative;
		clip: auto;
		height: auto;
		width: auto;
		overflow: auto;
	}
}
.general-table thead th {
	background-color: var(--dark);
	border: 1px solid var(--dark);
	font-weight: normal;
	text-align: center;
	color: var(--june-bud);
}
.general-table thead th:first-of-type {
	text-align: left;
}
.general-table tbody,
.general-table tr,
.general-table th,
.general-table td {
	display: block;
	padding: 0;
	text-align: left;
	white-space: normal;
}
@media (min-width: 48em) {
	.general-table tr {
		display: table-row;
	}
}
.general-table th,
.general-table td {
	padding: 0.5em;
	vertical-align: middle;
}
@media (min-width: 30em) {
	.general-table th,
	.general-table td {
		padding: 0.75em 0.5em;
	}
}
@media (min-width: 48em) {
	.general-table th,
	.general-table td {
		display: table-cell;
		padding: 0.5em;
	}
}
@media (min-width: 62em) {
	.general-table th,
	.general-table td {
		padding: 0.75em 0.5em;
	}
}
@media (min-width: 75em) {
	.general-table th,
	.general-table td {
		padding: 0.75em;
	}
}
.general-table caption {
	margin-bottom: 1em;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}
@media (min-width: 48em) {
	.general-table caption {
		font-size: 1.5em;
	}
}
.general-table tfoot {
	font-size: 0.8em;
	font-style: italic;
}
@media (min-width: 62em) {
	.general-table tfoot {
		font-size: 0.9em;
	}
}
@media (min-width: 48em) {
	.general-table tbody {
		display: table-row-group;
	}
}
.general-table tbody tr {
	margin-bottom: 1em;
}
@media (min-width: 48em) {
	.general-table tbody tr {
		display: table-row;
		border-width: 1px;
	}
}
.general-table tbody tr:last-of-type {
	margin-bottom: 0;
}
@media (min-width: 48em) {
	.general-table tbody tr:nth-of-type(even) {
		background-color: rgba(94, 93, 82, 0.1);
	}
}
.general-table tbody th[scope='row'] {
	background-color: var(--dark);
	color: var(--june-bud);
}
@media (min-width: 30em) {
	.general-table tbody th[scope='row'] {
		border-left: 1px solid var(--dark);
		border-bottom: 1px solid var(--dark);
	}
}
@media (min-width: 48em) {
	.general-table tbody th[scope='row'] {
		background-color: transparent;
		color: var(--font-color);
		text-align: left;
	}
}
.general-table tbody td {
	text-align: right;
}
@media (min-width: 48em) {
	.general-table tbody td {
		border-left: 1px solid var(--dark);
		border-bottom: 1px solid var(--dark);
		text-align: center;
	}
}
@media (min-width: 48em) {
	.general-table tbody td:last-of-type {
		border-right: 1px solid var(--dark);
	}
}
.general-table tbody td[data-type='currency'] {
	text-align: right;
}

.general-table tbody td[data-title]:before {
	content: attr(data-title);
	float: left;
	font-size: 0.8em;
	color: rgba(94, 93, 82, 0.75);
}
@media (min-width: 30em) {
	.general-table tbody td[data-title]:before {
		font-size: 0.9em;
	}
}
@media (min-width: 48em) {
	.general-table tbody td[data-title]:before {
		content: none;
	}
}

/* Create staff account  */
form.create-staff-acct-form {
	box-shadow: none;
	display: flex;
	flex-direction: column;
	width: 100%;
}

form.create-staff-acct-form input {
	width: 100%;
	flex-grow: 1;
	margin: 0.312rem 0;
}

form.create-staff-acct-form label {
	width: 110px;
	margin-right: 0;
}

form.create-staff-acct-form button {
	border: 0;
	margin-top: 1rem;
	padding: 0.7rem 1rem;
	border-radius: 0.312rem;
	font-size: 0.9rem;
	background-color: var(--dark);
	color: var(--x-light);
	cursor: pointer;
	transition: all 500ms ease-in-out;
}

form.create-staff-acct-form button:hover {
	background-color: var(--rusty-red);
}

/* Create account modal styling */
.create-modal {
	display: none;
	position: fixed;
	z-index: 999;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(79, 45, 127, 0.5);
}

.create-acct-option {
	background-color: var(--x-light);
	width: 40%;
	margin: 15% auto;
	padding: 1.2rem;
	border-radius: 5px;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.8);
}

.close-modal {
	color: var(--dark);
	float: right;
	font-size: 1.4rem;
	font-weight: 900;
}

.close-modal:hover,
.close-modal:focus {
	color: var(--rusty-red);
	text-decoration: none;
	cursor: pointer;
}

/* Create account type */
.select-acct-type {
	margin: 0.625rem 0;
}

.select-acct-type label {
	font-size: 1rem;
}

.select-acct-type select {
	font-size: 0.9rem;
	padding: 0.125rem 0.312rem;
	background-color: rgba(240, 234, 241, 0.986);
}

.select-acct-type button {
	border: 0;
	padding: 0.25rem 1rem;
	border-radius: 0.312rem;
	font-size: 0.9rem;
	background-color: var(--dark);
	color: var(--x-light);
	cursor: pointer;
	transition: all 500ms ease-in-out;
}

.select-acct-type button:hover {
	background-color: var(--rusty-red);
}

/* Transaction table styling */
.transac-history table thead tr th,
.transac-history table tbody tr td {
	text-align: center;
}

.transac-history table tbody tr td a > button {
	border: none;
	padding: 0.312rem 0.625rem;
	border-radius: 0.312rem;
	transition: all 250ms ease-in-out;
	background-color: var(--june-bud);
}

.transac-history table tbody tr td a > button:hover {
	cursor: pointer;
	transform: scale(1.02);
	color: var(--dark);
}

/* Transaction Details */
.u-specific-transaction {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.u-specific-transaction .acc-card {
	width: 100%;
}

.transac-history p.backlink a {
	text-align: left;
	font-size: 0.8rem;
	transition: all 500ms ease-in-out;
}

.transac-history p.backlink a:hover {
	font-size: 0.9rem;
	color: var(--dark);
}

/* Account Overview on Admin dashboard */
.acct-holders > p {
	background-color: var(--dark);
	width: fit-content;
	color: var(--x-light);
	border-radius: 50%;
	padding: 0.625rem;
	align-items: center;
	display: inline-block;
}

/* .acct-holders .dist-holders {
	display: flex;
} */

/* Display all users account */
.all-users {
	display: flex;
	flex-direction: column;
}

.all-users,
.all-users .acc-card {
	width: 100%;
}

.all-users .acc-card .row-details {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 0.625rem;
}

.acct-overview {
	display: flex;
	flex-direction: row;
	font-size: 0.9rem;
}

.acct-overview a.acct-transaction {
	border: 1px solid var(--dark);
	padding: 0.5rem 1.2rem;
	border-radius: 5px;
	color: var(--dark);
	font-size: 0.75rem;
	transition: all 500ms ease-in-out;
}

.acct-overview a.acct-transaction:hover {
	transform: scale(1.05);
}

h4.marg-l-pt6 {
	margin-right: 0.312rem;
}

.acc-card {
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(79, 45, 127, 0.2);
	box-shadow: 0 0 3px 1px rgba(79, 45, 127, 0.2);
	width: 90%;
	padding: 0.625rem 1.2rem;
	margin-bottom: 0.312rem;
}

.acc-card h3 {
	font-weight: 500;
	margin-bottom: 0.312rem;
}

.summary-listing {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 0.312rem 0;
}

.summary-listing h4,
.summary-listing p {
	margin: 0 0.7rem;
}

.summary-listing label {
	font-weight: 700;
}

.summary-listing button {
	border: 0;
	padding: 0.625rem 1.2rem;
	background-color: var(--light);
	border-radius: 5px;
	cursor: pointer;
	font-size: 0.9rem;
	transition: all 500ms ease-in-out;
}

.summary-listing button:hover {
	background-color: var(--dark);
	color: var(--x-light);
}

/* Footer styling */
.footer {
	display: flex;
	order: 99;
	justify-content: center;
	font-size: 0.7rem;
	height: 3.5rem;
	/* padding-bottom: 0.625rem; */
	align-items: center;
	line-height: 1.875rem;
}

.footer li {
	margin-left: 1.25rem;
	color: var(--x-light);
}

li.footer-list a {
	opacity: 0.5;
	color: var(--x-light);
}

.dashboard-footer {
	background-color: var(--dark);
}
